
@{
    ViewBag.Title = "VerifyAccount";
}

<div class="hero-wrap hero-bread" style="background-image:url(@Url.Content("~/Assets/Images/Logo/logo.png"))">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="@Url.Action("Index","Home")">DotrA</a></span>
                    <h1 class="mb-0 bread">Registration</h1>
                </p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light">
    <h2 class="text-center">VerifyAccount</h2>

    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        <div class="text-center">
            <div class="alert alert-success">
                <strong>驗證成功!</strong>您的帳號已成功啟用.
                <br />
                <strong>Success!</strong> Your account has been activated successfully.
                <br />
                <a class="btn " href="@Url.Action("Login","Member")" role="button">Back To Home</a>
                @*<a class="btn " href="@Url.Action("SendVerifyOrResetEmail","Members")"
                    role="button">Click To Login</a>*@
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <div class="alert alert-danger">
                <strong>Error!</strong> @ViewBag.Message
            </div>
        </div>
    }
</section>
@section endScripts{
    <script language="javascript">
        setTimeout("location.href='/';", 1000);
    </script>
}