@model IEnumerable<DotrA.Areas.BackEndSystem.ViewModels.BESCategoryView>

@{
    ViewBag.Title = "類型管理";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">類型管理</h3>
                        <a class="btn btn-primary btn-sm text-light" data-toggle="modal" data-target="#create"><i class="fa fa-plus"></i>&nbsp; 新增類型</a>
                    </div>
                    <div class="card-body post-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Categorydescript)</th>
                                    <th>@Html.DisplayNameFor(model => model.ImageBase)</th>
                                    <th>@Html.DisplayNameFor(model => model.Product)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr itemid="@item.CategoryID" itemscope>
                                        <td class="toedit">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td class="toedit">@Html.DisplayFor(modelItem => item.Categorydescript)</td>
                                        <td>
                                            <div class="container">
                                                <div class="row" style="width: 50px;">
                                                    @foreach (var i in item.ImageBase)
                                                    {
                                                        @Helper.BESImage(i, this)
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="container">
                                                        <div class="row">
                                                            @Helper.BESShowProductList(item.Product, this)
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="imgViewDom" class="disnone"></div>

@Html.Partial("_Create", new DotrA.Areas.BackEndSystem.ViewModels.BESCategoryCreateView())
@section topCSS{
    <link href="~/Assets/BackEndSystem/js/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Assets/css/picFullScreen.css" rel="stylesheet" />
}

@section endScripts{
    @Scripts.Render("~/BackEndSystem/datatable")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Assets/BackEndSystem/js/init/datatable.js" charset="UTF-8"></script>
    <script src="~/Assets/js/pucFullScreen.js"></script>
    <script>
        $('#addimagebutton').on('click', function () {
            $('.multiUpload').append("<div class=\"col-8 offset-2 mb-0\"><input type=\"file\" class=\"custom-file-input\" id=\"PictureLink\" name=\"PictureLink\"><label class=\"custom-file-label\">請選擇檔案</label></div>");
            event.preventDefault();
        });
        $('tbody>tr>.toedit').click(function () {
            window.location.href = '@Url.Action("Edit","Category")/' + $(this).parent()[0].getAttribute("itemid");
        });
    </script>
}
