@model IEnumerable<DotrA.Areas.BackEndSystem.ViewModels.BESCategoryView>

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">類型管理</h3>
                        <a class="btn btn-primary btn-sm text-light" data-toggle="modal" data-target="#create"><i class="fa fa-plus"></i>&nbsp; 新增類型</a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Categorydescript)</th>
                                    <th>@Html.DisplayNameFor(model => model.ImageBase)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr itemid="@item.CategoryID" itemscope>
                                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Categorydescript)</td>
                                        <td>
                                            <div class="container-fluid text-center">
                                                @foreach (var i in item.ImageBase)
                                                {
                                                    @Helper.Image(i, this)
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Create", new DotrA.Areas.BackEndSystem.ViewModels.BESCategoryView())
@section topCSS{
    <link href="~/Assets/BackEndSystem/js/datatable/datatables.min.css" rel="stylesheet" />
}

@section endScripts{
    @Scripts.Render("~/BackEndSystem/datatable")
    <script src="~/Assets/BackEndSystem/js/init/datatable.js" charset="UTF-8"></script>
    <script src="~/Assets/BackEndSystem/js/zoomify.min.js"></script>
    <script>
        $(function () {
            $('#myTable').DataTable();
            $('.zoomify').zoomify();
            $("#zoom").on("click", function () {
                $(".zoomify").zoomify("zoom")
            })
            $("#zoomin").on("click", function () {
                $(".zoomify").zoomify("zoomIn")
            })
            $("#zoomout").on("click", function () {
                $(".zoomify").zoomify("zoomOut")
            })
            $('#addimagebutton').on('click', function () {
                $('.multiUpload').append("<div class=\"col-8 offset-2 mb-0\"><input type=\"file\" class=\"custom-file-input\" id=\"PictureLink\" name=\"PictureLink\"><label class=\"custom-file-label\">請選擇檔案</label></div>");
                event.preventDefault();
            });
            $('tr').click(function (e) {
                let id = e.currentTarget.attributes[0].value;
            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
