@model IEnumerable<DotrA.Areas.BackEndSystem.ViewModels.BESCategoryView>

@{
    ViewBag.Title = "Index";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">類型管理</h3>
                        <a class="btn btn-primary btn-sm text-light" data-toggle="modal" data-target="#create"><i class="fa fa-plus"></i>&nbsp; 新增類型</a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Categorydescript)</th>
                                    <th>@Html.DisplayNameFor(model => model.ImageBase)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Categorydescript)</td>
                                        <td>
                                            <div class="container-fluid text-center">
                                                @foreach (var i in item.ImageBase)
                                                {
                                                    @Helper.Image(i)
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Create", new DotrA.Areas.BackEndSystem.ViewModels.BESCategoryView())
@section topCSS{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <link href="~/Assets/css/zoomify.min.css" rel="stylesheet" />
}

@section endScripts{
    <script src="~/Assets/ElaAdmin/js/lib/data-table/datatables.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/jszip.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/vfs_fonts.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/Assets/ElaAdmin/js/init/datatables-init.js" charset="UTF-8"></script>
    <script src="~/Assets/js/zoomify.min.js"></script>
    <script>
        $(function () {
            $('.zoomify').zoomify();
            $("#zoom").on("click", function () {
                $(".zoomify").zoomify("zoom")
            })
            $("#zoomin").on("click", function () {
                $(".zoomify").zoomify("zoomIn")
            })
            $("#zoomout").on("click", function () {
                $(".zoomify").zoomify("zoomOut")
            })
        });
        $(function () {
            $('button').on('click', function () {
                $('.multiUpload').append("<input type='file' id='PictureLink' name='PictureLink'/>");
                event.preventDefault();
            });
        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}