@model DotrA.Areas.BackEndSystem.ViewModels.BESMemberView

@{
    ViewBag.Title = "會員修改";
}
@using (Html.BeginForm("Create"))
{
    @Html.AntiForgeryToken()
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div class="card">
                        <div class="card-header">
                            <strong>編輯資料</strong>
                        </div>
                        <div class="card-body card-block">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MemberID)
                            <div class="form-group">
                                @Html.LabelFor(model => model.MemberAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.MemberAccount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.MemberAccount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    @Html.DropDownList("RoleID", (SelectList)ViewBag.RoleNumber, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EmailVerified, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.EmailVerified)
                                        @Html.ValidationMessageFor(model => model.EmailVerified, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <input type="submit" value="儲存會員資訊" class="btn btn-outline-secondary btn-sm" />
                                    <button type="button" class="btn btn-outline-danger btn-sm mb-1" data-toggle="modal" data-target="#smallmodal"><i class="fa fa-minus-circle"></i>刪除會員</button>
                                </div>
                                <hr />
                                <div>
                                    @Html.ActionLink("返回列表", "Index", null, new { @class ="btn btn-outline-secondary btn-sm"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    會員得來不易 確認要刪除<br />
                    會員帳號:@Model.MemberAccount<br />
                    會員名稱:@Model.Name<br />
                    <input type="checkbox" id="check">確認刪除
                </p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="Delete()">確認刪除</button>
            </div>
        </div>
    </div>
</div>

@section endScripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function Delete() {
            if ($("#check").prop("checked") == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete")",
                    headers: {'RequestVerificationToken' :'@CommonRazorFunctions.GetAntiForgeryToken()'},
                    data: { "id": @Model.MemberID},
                    success: function () {
                            location.href = '@Url.Action("index")';
                    }
                });
            } else {
                alert("請勾選確認刪除方塊");
            }
        }
    </script>

}
