@{
    //取得當前購物車所有內容
    var currentCart = DotrA.Models.Cart.Operation.GetCurrentCart();
}

<a id="CartDropDown" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="icon-shopping_cart">
        @String.Format($"購物車")
        @*{currentCart.GetTotal}元 {currentCart.Count}*@
    </span>
</a>
<div class="dropdown-menu" role="menu" aria-labelledby="CartDropDown">
    @if (currentCart.Count > 0)
    {
        foreach (var cartitem in currentCart)
        {
            <a style="color:lightskyblue; margin:40px">@cartitem.ProductName <span>@cartitem.Price 元 X @cartitem.Quantity </span>
            <span class=" btn-danger"  onclick="RemoveFromCart('@cartitem.ProductId')">X</span>
            </a>
            
        }
        <a class="dropdown-item">結帳</a>
    }
    else
    {
        <a class="dropdown-item" href="#">購物車無任何商品</a>
    }
</div>